PYDBADMIN_TEST_POSTGRES_HOST=localhost
PYDBADMIN_TEST_POSTGRES_PORT=5432
PYDBADMIN_TEST_POSTGRES_DATABASE=pydbadmin_test
PYDBADMIN_TEST_POSTGRES_USER=postgres
PYDBADMIN_TEST_POSTGRES_PASSWORD=postgres
PYDBADMIN_TEST_ALLOW_DESTRUCTIVE=0
